body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #0f172a;
  color: white;
}

section {
  padding: 80px 10%;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 15px;
  margin: 15px 0;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

h2 {
  color: #38bdf8;
}
